@using MudBlazor
@inherits LayoutComponentBase
@using SafePass.Services
@inject AuthState AuthState

<PageTitle>SafePass</PageTitle>

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@if (AuthState.IsAuthenticated)
{
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
}
else
{
    <article class="content px-4">
        @Body
    </article>
}
