@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<p>Redirecting...</p>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            NavigationManager.NavigateTo("/login", true);
        }
    }
}
